<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>

  <h1>Classmates</h1>


  <ul>
    <% for(let i = 0; i < pep.length; i++) { %>
    <li><h3>
      Name: <%= pep[i].name %> <br/>
      Age: <%= pep[i].age %> <br/>
      Number: <%= pep[i].number %>
    </li></h3>

  <% } %>
  </ul>

</body>

</html>